.about-container {
  border-radius: 20px;
  height: 80%;
  width: 80%;
  margin-left: 10%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(56, 151, 163);
  color: white;
  padding: 10px;
  overflow: auto;
}

.logo {
  align-items: center;

  position: relative;
  display: flex;
}
.logo a {
  margin-left: 50px;
}
