.app-menu-button {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}
.app-menu-button img {
  height: 70%;
  margin-top: 5px;
}
