.app-menu-button {
  margin-top: -5px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: inline-block;
}
.app-menu-button img {
  height: 70%;
  margin-top: 10px;
  margin-left: 6px;
}
