html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lives {
  width: 25px;
  height: 25px;
  top: -270px;
  right: 550px;
  position: relative;

}

#game-scene {
  width: 1000px;
  height: 500px;
  border: 1px solid grey;
  position: relative;
  overflow: hidden;
}


