.contact-container {
  border-radius: 20px;
  height: 80%;
  width: fit-content;
  margin-left: 35%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 35%;
  background-color: rgb(56, 151, 163);
  color: white;
  padding: 20px;
  align-items: flex-start;
  overflow: auto;
}

.contact-container label {
  display: block;
  padding: 20px;
}
.contact-container input,
textarea {
  margin-left: 20px;
  display: block;
  margin-top: 25px;
}

.contact-container .btn {
  padding: 10px;
  color: white;
  border: 1px solid;
}

@media (max-width: 500px) {
  .contact-container {
    margin-left: 25%;
    margin-right: 25%;
    width: 200px;
  }
  .contact-container label {
    padding: 20px;
    display: contents;
    margin-left: 0;
  }
  .contact-container input,
  textarea {
    width: 80%;
  }

  .contact-container .btn {
    padding: 10px;
    color: white;
    border: 1px solid;
    margin-top: 20px;
  }
}
