.contact-container {
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
  margin-left: 35%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 35%;
  background-color: rgb(56, 151, 163);
  color: white;
  padding: 20px;
  align-items: flex-start;
  overflow: auto;
}

.contact-container label {
  display: block;
  padding: 20px;
}
.contact-container input,
textarea {
  margin-left: 20px;
  display: block;
}

.contact-container .btn {
  padding: 10px;
}

@media (max-width: 500px) {
  .contact-container label {
    padding: 20px;
    display: initial;
  }
  .contact-container input,
  textarea {
    width: 80%;
  }
  .contact-container {
    margin-left: 25%;
    margin-right: 25%;
    width: 150px;
  }
}
