.contact-container {
  border-radius: 20px;
  height: 50%;
  width: 50%;
  margin-left: 10%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(56, 151, 163);
  color: white;
  padding: 10px;
  text-align: center;
}
.contact-container label {
  display: block;
  padding: 20px;
}
.contact-container .btn {
  display: block;
  padding: 10px;
  align-items: center;
}
