.experience-container {
  border-radius: 20px;
  height: 80%;
  width: 80%;
  margin-left: 10%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(56, 151, 163);
  color: white;
  padding: 10px;
  text-align: center;
}

.experience-container p {
  font-size: 18px;
}

.experience-container h2:hover {
  color: black;
}
