.experience-container {
  border-radius: 20px;
  height: 80%;
  width: 80%;
  margin-left: 10%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(56, 151, 163);
  color: white;
  padding: 10px;
  text-align: center;
  overflow: auto;
}

.coll-panel-btn:focus {
  outline: 0;
  box-shadow: none;
}

#my-style {
  background-color: rgb(56, 151, 163);
  border-color: rgb(8, 184, 184);
  padding: 5px;
  box-shadow: 0 0 0 0.25rem rgb(14 204 204 / 50%);
  color: white;
}
