.cv-header {
  background: rgb(56, 151, 163);
  width: 100%;
  align-items: center;
  margin: 0;
  overflow: hidden;
  left: 0;
  top: 0;
}

.navigation {
  float: right;
  margin-left: auto;
}

.navigation a {
  margin: 10px;
  text-decoration: none;
  color: white;
  float: left;
}

@media (max-width: 500px) {
  .navigation a {
    float: none;
    display: block;
    text-align: left;
    margin-left: 20px;
  }
  .navigation {
    float: none;
  }
}
