.cv-footer {
  width: 100%;
  height: 40px;
  align-items: center;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.cv-footer-title {
  margin-top: 10px;
  margin-left: -20px;
  color: white;
  text-align: center;
  padding-top: 10px;
}
