#adjusted-style {
  background-color: rgb(56, 151, 163);
  border-color: rgb(8, 184, 184);
  padding: 5px;
  box-shadow: 0 0 0 0.1rem rgb(14 204 204 / 50%);
  color: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
