body {
  background-color: black;
  background: url(./nathan-dumlao-kME9jbKd--s-unsplash.jpg) no-repeat center
    center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}
