.education-container {
  border-radius: 20px;
  height: 80%;
  width: 80%;
  margin-left: 10%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(56, 151, 163);
  color: white;
  padding: 10px;
}

.education-container img {
  width: 120px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.education-container .fsega {
  height: 113.672px;
}
.education-container img:hover {
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.42);
}
